.Main {
     display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(86, 0, 126);
}

.myName {
    position: relative;
    top: 120px;
    right: 300px;
    height: 15px;
    width: 70px;
    /* border-radius: 50%; */
    align-items: center;
    background-color: rgb(33, 241, 137);
    color: black;
}

.scroll {
    justify-content: space-between;
    background-color: white;
    position: relative;
    left: 200px;
    top: -25px;
    overflow-y: scroll;
    height: 500px;
    width: 500px;
    border:solid 5px white;
}

.status {
    border: solid thin;
    background-color: rgb(228, 247, 228);
    position: relative;
    color: green;
}

.input2 {
    position: relative;
    top: 502px;
    left: 200px;
   
}

.id{
    color:  rgb(86, 0, 126);
}

.logo{
    position: relative;
    top: -500px;
    right: 300px;
}

.otherName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: oblique;
    font-weight: bold;
    color: green;
}
.otherText {
    font-family: sans-serif;
    color: rgb(86, 0, 126);
}
.otherDate {
    color: grey;
    font-size: 10px;
}
